[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pylint = "*"
pysqlite3 = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9.7"

[scripts]
main = "python pingueador/main.py"
